.navbar-fixed-top{
    z-index: 900;
}

  .navbar-fixed-top {
    border-bottom: 1px solid #2A3F54;
  }
  .navbar-inverse {
    background-color: #2A3F54;
    
  }
  .shadow {
      -moz-box-shadow: 0px 3px 99px rgba(41, 40, 40, 0.5);
      -webkit-box-shadow: 0px 3px 9px rgba(41, 40, 40, 0.5);
      box-shadow: 0px 3px 9px rgba(41, 40, 40, 0.5);
  }     

  ul li a{
    cursor: pointer;
  }
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #2A3F54;
} 
.dropdown-menu > li > a{
color: #565656;
font-size: 1.3rem;
}
.dropdown{
  margin-right: 12px;
}
.dropdown-menu li a i{
  margin-right: 6px;
}