<h1 class="page-header">Image Search</h1><br>
<mat-card>
  <div class="logo">
        <div id="attribution">All images provided by</div>
        <a href="https://pixabay.com" target="_blank">
        <img src= "../../assets/images/logo.png" class="pixabayLogo">
      </a>
      </div>
  <mat-form-field class="searchInputWidth">
    <input class="search" matInput placeholder="Search for images" [(ngModel)]="query">
  </mat-form-field><br>
  <button mat-button (click)="searchImages(query)" class="searchButton" mat-raised-button color="primary">Find Images</button>
</mat-card>

<div *ngIf="searching">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<mat-card>
  <h4 class="results" *ngIf="resultLabel">Results:</h4>
  <h4 class="notFound" *ngIf="imagesFound"><span class="fa-stack fa-lg">
    <i class="fa fa-camera fa-stack-1x"></i>
    <i class="fa fa-ban fa-stack-2x text-danger"></i>
  </span> No Images Found!</h4>
  <masonry [useImagesLoaded]="true">
    <masonry-brick *ngFor="let image of images" class="image-container">
      <mat-card>
          <a href="{{ image.pageURL }}" target="_bank">
        <mat-card-header>
          <div class="avatar" mat-card-avatar [ngStyle]="{'background-image':'url('+ image.userImageURL +')', 'background-size':'40px 40px'}"></div>
          <mat-card-title>User: {{ image.user }}</mat-card-title>
        </mat-card-header>
        <img src="{{image.webformatURL}}" mat-card-image>
        <mat-card-content>
          <p>Tags: {{ image.tags }}</p>
          <p>Comments: {{ image.comments }}</p>
          <p>Likes: {{ image.likes }}</p>
        </mat-card-content>
        </a>
      </mat-card><br><br>
    </masonry-brick>
  </masonry>
</mat-card>